.main
    overflow: hidden
    text-align: center
    border: 1px solid black
    flex-basis: 100%
    position: relative
    background-color: rgb(30,144,255)
    &__title
        font-weight: normal
        font-size: 20px
    &__translation
        width: 30%
        display: flex
        margin: 5px auto 0px auto
        &__item
            flex-basis: 45%
            border: 1px solid white
            background-color: black
            color: white 
            &--active
                color: orange
        &--pl
            margin-right: 5%
        &--eng
            margin-left: 5%

            
